.footer {
  background: radial-gradient(circle at top, #0f172a, #020617);
  padding: 60px 80px 30px;
  font-family: "Poppins", sans-serif;
  color: #111;
}

.footer-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  gap: 60px;
}

/* LEFT */
.logo {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 12px;
  color: #c9dbf2;
}

.description {
  font-size: 14px;
  color: #666;
  line-height: 1.6;
  max-width: 300px;
}

.icons {
  display: flex;
  gap: 12px;
  margin-top: 20px;
}

.icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #1f2a46;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #fff;
}

.icon:hover {
  background: #000;
  color: #fff;
}

/* COLUMNS */
.footer-col h4,
.footer-subscribe h4 {
  font-size: 15px;
  margin-bottom: 15px;
  font-weight: 600;
  color: #c9dbf2;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col li {
  font-size: 14px;
  color: #a3a2a2;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.footer-col li:hover {
  color: #ffffff;
}

/* SUBSCRIBE */
.footer-subscribe p {
  font-size: 14px;
  color: #666;
  margin-bottom: 15px;
  max-width: 280px;
}

.subscribe-box {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  width: fit-content;
}

.subscribe-box input {
  border: none;
  outline: none;
  padding: 12px 14px;
  font-size: 14px;
  width: 180px;
}

.subscribe-box button {
  background: #0a1134;
  color: #fff;
  border: none;
  padding: 12px 18px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
  border: none;
  outline: none;
}

.subscribe-box button:hover {
  background: #333;
}

/* BOTTOM */
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  color: #777;
  border-top: 1px solid #e5e5e532;
  padding-top: 20px;
  margin-top: 20px;
}

.footer-links {
  display: flex;
  gap: 20px;
}

.footer-links span {
  cursor: pointer;
  transition: 0.3s;
}

.footer-links span:hover {
  color: #000;
}

@media (max-width: 1024px) {
  .footer {
    padding: 50px 40px 25px;
  }

  .footer-container {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
}

@media (max-width: 600px) {
  .footer {
    padding: 40px 20px 20px;
  }

  .footer-container {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
}
